* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    letter-spacing: 0.03px;
}

body {
    // font-family: "Tajawal", sans-serif;
    // font-family: 'Cairo', sans-serif;
    font-family: 'Gothic A1', sans-serif;
}

.bg-section {
    @extend .bg-section;
}

.start {
    color: $color-red;
    font-size: 16px;
    font-weight: 700;
}

img {
    width: 21px;
}

.control-label {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: $main-color;
    padding-bottom: 20px;
}

.field-required {
    visibility: hidden;
    @extend .flex-alignitem;
    .ques-req {
        @extend %filed-req-red;
    }
}

.control-input-content {
    position: relative;
    max-width: 330px;
    height: 29px;
    border-bottom: 1px solid #ddd;
    .control-input {
        border: none;
        width: 100%;
        font-size: 15px;
    }
}

input {
    @extend %input-outline-border;
}

::placeholder {
    font-size: 15px;
}

.control-textarea {
    @extend %control-textarea;
}

select.minimal {
    background-image: url("../imgs/down-arrow.png");
    background-position: left 5px center;
    background-repeat: no-repeat;
    background-size: auto 25%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
}

.text-mute {
    color: #706f6ffa;
}

select {
    option[value=""] {
        color: #706f6ffa;
    }
    option {
        color: $main-color;
        font-size: 14px;
        background-color: #c9e3ff75
    }
    &:focus {
        background-color: #c9e3ff75;
        transition: all .7s;
    }
}